{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-md-9">
					<div class="row">
						<div id="post">
							<a href="#" class="btn btn-info">Share your resources with others</a>	
						</div>
					</div>
					<div class="row">
						<div class="card product">
							<img src="student/static/imgs/comp-1.jpg" class="card-img-top img-responsive">
							<div class="card-block">
								<h4 class="card-title">Title</h4>
								<a href="#" class="source">URL</a>
								<p class="card-text">Write something here</p>
							</div>
						</div>
						<div class="card product">
							<img src="{% static 'imgs/comp-2.jpg' %}" class="card-img-top img-responsive">
							<div class="card-block">
								<h4 class="card-title">Title</h4>
								<a href="#" class="source">URL</a>
								<p class="card-text">Write something here</p>
							</div>
						</div>
						<div class="card product">
							<img src="{% static 'imgs/comp-3.jpg' %}" class="card-img-top img-responsive">
							<div class="card-block">
								<h4 class="card-title">Title</h4>
								<a href="#" class="source">URL</a>
								<p class="card-text">Write something here</p>
							</div>
						</div>
						<div class="card product">
							<img src="{% static 'imgs/comp-4.jpg' %}" class="card-img-top img-responsive">
							<div class="card-block">
								<h4 class="card-title">Title</h4>
								<a href="#" class="source">URL</a>
								<p class="card-text">Write something here</p>
							</div>
						</div>
						<div class="card product">
							<img src="{% static 'imgs/comp-5.jpg' %}" class="card-img-top img-responsive">
							<div class="card-block">
								<h4 class="card-title">Title</h4>
								<a href="#" class="source">URL</a>
								<p class="card-text">Write something here</p>
							</div>
						</div>
						<div class="card product">
							<img src="{% static 'imgs/comp-5.jpg' %}" class="card-img-top img-responsive">
							<div class="card-block">
								<h4 class="card-title">Title</h4>
								<a href="#" class="source">URL</a>
								<p class="card-text">Write something here</p>
							</div>
						</div>
					</div>
</div>
			

{% endblock %}