{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="col-md-9">
	<h2>Help your friends by sharing resources you have learnt from</h2>
	<form action="." method="post" id="lol" enctype="multipart/form-data">
		{% csrf_token %}
		{% for hidden_field in form.hidden_fields %}
    		{{ hidden_field }}
  		{% endfor %}

  		{% for field in form.visible_fields %}
    		<div class="form-group">
      			{{ field.label_tag }}
      			{% render_field field class="form-control" %}
    		</div>
  		{% endfor %}
  		<button class="btn btn-success">Submit</button>
	</form>
</div>

{% endblock %}